.root{
    flex-grow: 1;
    background-color: '#1A242F';
}
.app-logo{
    height: 70x;
    width: 100px;
}
.menuTitle{
    display: 'none';
    padding-right: 20px;
}
.search{
    position: 'relative';
    /* border-radius: theme.shape.borderRadius; */
    /* backgroundColor: alpha(theme.palette.common.white, 0.15);
    '&:hover': {
      backgroundColor: alpha(theme.palette.common.white, 0.25);
    }, */
    margin-left: 0px;
    width: '100%'
}
.searchIcon{
    padding: 2px;
    height: '100%';
    position: 'absolute';
    pointer-events: 'none';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}
.inputRoot{
    color: 'inherit';
}
.inputInput{
    width: '100%';
}